@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.signin-signup-body {
    background-color: #c9d6ff; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
  }
  
  .signin-signup-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 0 auto;
    padding: 20px; 
    transition: filter 0.3s ease-in-out;
  }

.signin-signup-container.blur {
    filter: blur(5px);
}


.signin-signup-popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.signin-signup-popup-content {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.signin-signup-popup p {
    color: #512da8;
    font-size: 16px;
    margin-bottom: 20px;
}

.signin-signup-popup button {
    background-color: #512da8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.signin-signup-popup button:hover {
    background-color: #5c6bc0;
}

.signin-signup-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.signin-signup-container span {
    font-size: 12px;
}

.signin-signup-container button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.signin-signup-container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.signin-signup-container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.signin-signup-container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.signin-signup-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signin-signup-sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signin-signup-container.active .signin-signup-sign-in {
    transform: translateX(100%);
}

.signin-signup-sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.signin-signup-container.active .signin-signup-sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: signin-signup-move 0.6s;
}

@keyframes signin-signup-move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.signin-signup-social-icons {
    margin: 20px 0;
}

.signin-signup-social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.signin-signup-toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.signin-signup-container.active .signin-signup-toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.signin-signup-toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signin-signup-container.active .signin-signup-toggle {
    transform: translateX(50%);
}

.signin-signup-toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signin-signup-toggle-left {
    transform: translateX(-200%);
}

.signin-signup-container.active .signin-signup-toggle-left {
    transform: translateX(0);
}

.signin-signup-toggle-right {
    right: 0;
    transform: translateX(0);
}

.signin-signup-container.active .signin-signup-toggle-right {
    transform: translateX(200%);
}

.signin-input-container,
.signup-input-container {
    position: relative;
    width: 100%;
}
  
.signin-input-container ion-icon,
.signup-input-container ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 20px;
}
  
.signin-input-container input,
.signup-input-container input {
    width: 100%;
    padding: 10px 15px 10px 35px; 
    border: none;
    border-radius: 8px;
    background-color: #eee;
    outline: none;
    font-size: 13px;
}
  
.signin-input-container input:focus,
.signup-input-container input:focus {
    border: 1px solid #512da8;
}
  
